<main class="container">
  <%= turbo_frame_tag "modal-frame" do %>
    <h1 class="h3 modal-header">
      Editing reminder
    </h1>
    <div class="modal-body">
      <%= render "form", reminder: @reminder %>
    </div>
  <% end %>
</main>
