<%= turbo_frame_tag "modal-frame" do %>
  <div data-controller="turbomodal" data-action="turbo:submit-end->turbomodal#submitEnd">
    <h1>New reminder</h1>
    <%= render "form", reminder: @reminder %>
  </div>
<% end %>
