<main class="container">
  <%= turbo_frame_tag "modal-frame" do %>
    <h1 class="modal-header">
      Snooze for
    </h1>
    <div class="modal-body">
      <%= render "snooze_form", reminder: @reminder %>
    </div>
  <% end %>
</main>
